h2 {
  text-align: center;
}

.container{
  margin-top: 5%;
  margin-right: 5%;
}

.counter {
  display: flex;
  align-items: center;
}

.counter button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0 5px;
}

.counter button:hover{
  color: #ffffff;
  background-color: #000000;
}

.counter input {
  text-align: center;
  width: 200px;
  margin: 0 10px;
  border: 0;

}

#Pedir{
  background-color: #00CEA3;
  border: none;
  margin-top: 5%;
  font-size: 36px;
  width: 150px;
  margin-left: 17%;
}

#Pedir:hover{
  color: #00CEA3;
  background-color: #ffffff;
  border: 2px solid #00CEA3;
}
@media(max-width: 900Px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .counter{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .counter input{
    width: 100px;
  }

  .boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Pedir{

    margin-left: 2%;
    margin-top: 20%;
  }
}
@media(max-width:767px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .counter{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .counter input{
    width: 100px;
  }

  .boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Pedir{
    font-size: 18px;
    margin-left: 2%;
    margin-top: 20%;
  }
}