/*----------------------------
Estilos para la pagina de anyadir.
----------------------------*/


/*-----------------------------
Estolos para ordenador
-----------------------------*/


h2 {
  /* Estilos para el título h2 */
  text-align: center;
}

.container{
  /* Estilos para el contenedor */
  margin-top: 5%;
  margin-right: 5%;
}

.counter {
  /* Estilos para el contador */
  display: flex;
  align-items: center;
}

.counter button {
  /* Estilos para los botones del contador */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0 5px;
}

.counter button:hover{
  /* Estilos para los botones del contador al pasar el cursor */
  color: #ffffff;
  background-color: #000000;
}

.counter input {
  /* Estilos para el campo de entrada del contador */
  text-align: center;
  width: 200px;
  margin: 0 10px;
  border: 0;
}

#Pedir{
  /* Estilos para el botón "Pedir" */
  background-color: #00CEA3;
  border: none;
  margin-top: 5%;
  font-size: 36px;
  width: 150px;
  margin-left: 17%;
}

#Pedir:hover{
  /* Estilos para el botón "Pedir" al pasar el cursor */
  color: #00CEA3;
  background-color: #ffffff;
  border: 2px solid #00CEA3;
}


/*-----------------------------
Estolos para tamaño medio
-----------------------------*/


@media(max-width: 900Px){
  /* Estilos para pantallas con ancho máximo de 900px */
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .counter{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .counter input{
    width: 100px;
  }

  .boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Pedir{
    margin-left: 2%;
    margin-top: 20%;
  }
}


/*-----------------------------
Estolos para mobil
-----------------------------*/

@media(max-width:767px){
  /* Estilos para pantallas con ancho máximo de 767px */
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .counter{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .counter input{
    width: 100px;
  }

  .boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Pedir{
    font-size: 18px;
    margin-left: 2%;
    margin-top: 20%;
  }
}
