.mostrar-utilidad.btn-outline-dark:hover {
    background-color: #00CFA4;
    border-color: #00CFA4;
  }
  /* Estilos para pantallas grandes */
  @media (min-width: 992px) {
    .comentarios {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      background-color: #ffffff;
    }

    .comentario {
      border: 1px solid #000;
      border-bottom-width: 0;
      padding: 20px;
    }

    .comentario:last-child {
      border-bottom-width: 1px;
    }

    .comentario .segmento-linea-arriba {
      flex-direction: row;
      align-items: center;
    }

    .comentario .segmento-linea-arriba .perfil {
      margin-right: 10px;
    }
  }

  /* Estilos para pantallas pequeñas */
  @media (max-width: 991px) {
    body{
      background-color: #ffffff;
    }
    .comentario .segmento-linea-arriba .perfil {
      margin-right: 10px;
    }
    .mostrar-utilidad.btn-outline-dark:hover {
      background-color: #00CFA4;
      border-color: #00CFA4;
    }
  }

  .mostrar-utilidad.btn-outline-dark:hover {
    background-color: #00CFA4;
    border-color: #00CFA4;
  }
  .mostrar-utilidad.btn-outline-dark:hover {
    background-color: #00CFA4;
    border-color: #00CFA4;
  }
  /* Estilos para pantallas grandes */
  @media (min-width: 992px) {
    .comentarios {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }

    .comentario {
      border: 1px solid #000;
      border-bottom-width: 0;
      padding: 20px;
      background-color: #00CFA4; /* Nueva línea agregada */
    }

    .comentario:last-child {
      border-bottom-width: 1px;
    }

    .comentario .segmento-linea-arriba {
      flex-direction: row;
      align-items: center;
    }

    .comentario .segmento-linea-arriba .perfil {
      margin-right: 10px;
    }
  }

  /* Estilos para pantallas pequeñas */
  @media (max-width: 991px) {
    body{
      background-color: #00CFA4;
    }
    .comentario .segmento-linea-arriba .perfil {
      margin-right: 10px;
    }
  }
