body {
    background-color: #00CEA3;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: white;
    width: 507px;
    height: 550px;

  }

  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #motivo-consulta {
    border-radius: 10px;
    width: 400px;
    height: 170px;
    border-color: #00CEA3;
  }

  #enviar {
    background-color: #00CEA3;
    border: none;
  }

  @media (max-width: 767px) {
    .card {
        background-color: white;
        width: 300px;
        height: 400px;
    
    }

    #motivo-consulta {
        border-radius: 10px;
        width: 258px;
        height: 134px;
        border-color: #00CEA3;
      }
  }
