h1{
    color: black;
  }
  a{
    text-decoration: none;
    color: #00CFA4;
  }
  .container{
    margin-top: 50px;
  }
  .text-center{
    margin-top: 10px;
  }
  body {
    background-color: #00CFA4;
  }

  .form-label {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  .form-control {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #00CFA4;
    border-radius: 0;
    padding: 0;
    font-weight: bold;
    display: inline-block;
    width: 100%;
  }

  .form-control:focus {
    outline: none;
    box-shadow: none;
  }

  .btn-custom {
    font-size: 18px;
    padding: 0.375rem 0.75rem;
  }