#kit-gti-precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#texto-precio-producto {
    order: 2;
}

article{
    max-width: 880px; /*limitar seccion*/
    padding: 1rem;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(255,255,255, 0.33);
    display: flex;
    align-items: initial;
    justify-content: space-around;
}
p{
    max-width: 880px; /*limitar seccion*/
    padding: 2rem;
    margin: 10px auto;
    border-radius: 5px;
    background: rgba(255,255,255, 0.33);
    display: flex;
    align-items: end;
}

#Comentarios {
    order: 3;
    float: right;
    text-align: right;
}

#Comentarios img {
    margin-left: 20px;
}
.carousel-control-next-icon{
    color: black;
}
article div h3{
    color: #BEC7D8;
}
article div img{
    height: 250px;
}

article div a img{
    height: 30px;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#contactanos{
    background-color: #00CFA4;
    padding: .5rem;
    color: white;
    width: 140px;
    border: none;
    border-radius: 10px;
    margin: 0rem 30rem auto;
}

#contactanos {
    max-width: 25em;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px)

