#kit-gti-precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#texto-precio-producto {
    order: 2;
}

/* Estilos para el elemento <article> */
article {
    max-width: 880px; /* Limita el ancho máximo de la sección */
    padding: 1rem;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(255,255,255, 0.33);
    display: flex;
    align-items: initial;
    justify-content: space-around;
}

/* Estilos para los elementos <p> */
p {
    max-width: 880px; /* Limita el ancho máximo de la sección */
    padding: 2rem;
    margin: 10px auto;
    border-radius: 5px;
    background: rgba(255,255,255, 0.33);
    display: flex;
    align-items: end;
}

/* Estilos para los iconos del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000000; /* Cambia este color a tu elección */
}

#Comentarios {
    order: 3;
    float: right;
    text-align: right;
}

#Comentarios img {
    margin-left: 20px;
}

.carousel-control-next-icon {
    color: black;
}

/* Estilos para los títulos dentro del elemento <article> */
article div h3 {
    color: #BEC7D8;
}

/* Estilos para las imágenes dentro del elemento <article> */
article div img {
    height: 250px;
}

/* Estilos para las imágenes dentro de un enlace dentro del elemento <article> */
article div a img {
    height: 30px;
}

/* Estilos para los elementos .carousel-item */
.carousel-item {
    display: none;
}

/* Estilos para el elemento .carousel-item.active */
.carousel-item.active {
    display: block;
}

/* Estilos para los botones del carrusel */
.carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* Estilos para el boton de contactanos */
#contactanos {
    background-color: #00CFA4;
    padding: .5rem;
    color: white;
    width: 140px;
    border: none;
    border-radius: 10px;
    margin: 0rem 30rem auto;
}

#contactanos {
    width: 180px;
    height: 50px;
    text-decoration: none;
    display: block;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
}

@media (max-width: 900px) {
    /* Estilos para pantallas con un ancho máximo de 900px */

}

