footer{
    background: black;
    margin: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
footer img{
  width: 80px;
  height: 80px;
  padding: 15px;
}
