
.form-group {
  display: flex;
  align-items: center;
}

#perfilForm label {
  flex: 0 0 150px;
  margin-right: 10px;
}

#perfilForm input[type="text"],
#perfilForm input[type="email"] {
  flex: 1;
}

.boton {
  display: flex;
  justify-content: center;
}

#footer{
  margin-top: 225px;
}

@media (max-width: 767px) {
  .form-group {
    justify-content: flex-start;
  }

  #perfilForm label {
    margin-right: 0;
  }

  #perfilForm input[type="text"],
  #perfilForm input[type="email"] {
    width: auto;
  }

  .boton {
    justify-content: center;
  }

  #footer{
    margin-top: 275px;
  }
}
