#perfil {
  width: 700px;
  height: 544px;
  margin: 0px auto;
  margin-bottom: 50px;

}

#perfil h1{
  justify-content: left;
}

#datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#datos div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin: 10px 0;
}

#datos div label {
  width: 200px;
}

#cerrar-sesion {
  background-color: #5ABFBF;
  color: white;
  width: 200px;
  font-size: 1.3em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 200px;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  #perfil {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  #datos{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
  }


  #cerrar-sesion {
    margin: 20px auto;
    width: 200px;
    margin-left: 100px;
    margin-top: 100px;
  }
}