body {
    background-color: white;
    margin: 0px auto;
}

.Preguntas-frecuentes{
    margin: 0px auto;
    max-width: 80%;
}
a{
    margin-left: 50px;
    font-size: 20px;
    color: #00CEA3;

}
.preguntas{
    flex: 1 1 40%;
    order: 0;
    margin-bottom: 30px;
}

footer{
    flex: 1 1 0;

    order: 6;

}
footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    flex: 1 1 100%;
    background-color: #BEC7D8;
    width: 100%;
    margin: 0px auto;
}
footer a{
    text-decoration: none;
    color: black;
}
@media (max-width: 768px){
    .Preguntas-frecuentes{
        flex-direction: column;
    }
}