/* Estilos para el elemento con clase "contenedor" */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 0;
}

/* Estilos para los elementos <section> */
section {
    margin: 0 auto;
    padding: 30px;
}

/* Estilos para los elementos <p> dentro de <section> */
section p {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Estilos para el elemento <footer> */
footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    flex: 1 1 0%;
    background-color: #BEC7D8;
    width: 100%;
    margin: 0px auto;
}

/* Estilos para los elementos <a> dentro de <footer> */
footer a {
    text-decoration: none;
    color: black;
}

/* Estilos para pantallas con un ancho máximo de 768px */
@media (max-width: 768px) {
    section p {
        flex: 1 1 100%;
    }
}