.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 0;
}
section{
    margin: 0 auto;
    padding: 30px;
}
section p{
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    flex: 1 1 0%;
    background-color: #BEC7D8;
    width: 100%;
    margin: 0px auto;
}
footer a{
    text-decoration: none;
    color: black;
}
@media (max-width: 600px) {
    section p{
        font-size: 18px;
        flex: 1 1 100%;
    }
}